vti_encoding:SR|utf8-nl
vti_author:SR|RIVENDELL\\John Dovey
vti_modifiedby:SR|RIVENDELL\\John Dovey
vti_timelastmodified:TR|26 Feb 2009 12:08:24 -0000
vti_timecreated:TR|26 Feb 2009 12:06:52 -0000
vti_extenderversion:SR|5.0.2.2623
vti_lineageid:SR|{5812CFCA-A59F-4ED9-847F-60EDA49BA97C}
vti_backlinkinfo:VX|
vti_cacheddtm:TX|26 Feb 2009 12:08:24 -0000
vti_filesize:IR|7579
vti_cachedlinkinfo:VX|S|/images/check.gif S|/images/check.gif S|/images/check.gif S|bc.jpg
vti_cachedsvcrellinks:VX|NSUS|file:///images/check.gif NSUS|file:///images/check.gif NSUS|file:///images/check.gif NSUS|bc.jpg
